<header class="header">
    <h3>Not Authorised</h3>
</header>
<div class="content-wrap">
    <div class="row">

        <div class="col-md-12">

            <section class="panel">
                <div class="panel-body ">

                    <p>You are not authorised to view that page.</p>
                    <p>If your email address does not show in the top right of this page then you are not authenticated to Google, please try to log in again.</p>
                    <p>If your email address does show then you are not authorised to use the option.</p>
                </div>
            </section>
        </div>
    </div>
</div>