@{
    ViewBag.Title = "Bacs Transactions";
}
<div>
    <input type="button" id="btBacsHeaderShowCustomizationWindow" value="Show Customization Window" class="btn btn-sm btn-success"/> |
    <input type="button" id="btBacsHeaderShowCustomFilterWindow" value="Show Custom Filter" class="btn btn-sm btn-success" />
</div>
@Html.Action("GridViewPartial")
