@{
    ViewBag.Title = "Customer Bacs Details";
}
@*<div>
    <input type="button" id="btBacsDetailsShowCustomizationWindow" value="Show Customization Window" class="btn btn-success btn-xs"/> |
    <input type="button" id="btBacsDetailsShowCustomFilterWindow" value="Show Custom Filter" class="btn btn-success btn-xs" />
</div>*@
@Html.Action("BacsDetailsGridViewPartial")
