@{
    ViewBag.Title = "Test Results Data";
}
<div>
        <input type="button" id="btShowCustomizationUMQCHeader" value="Show Customization Window" class="btn btn-success btn-sm"/> |
        <input type="button" id="btShowCustomFilterUMQCHeader" value="Show Custom Filter" class="btn btn-success btn-sm" />
</div>
<h2>Product Quality Monitoring System</h2>
@Html.Action("TestHeaderGridViewPartial")
