@{
    ViewBag.Title = "Customer Details";
}
<div>
    <input type="button" id="btShowCustomizationWindow" value="Show Customization Window" class="btn btn-sm btn-success"/> |
    <input type="button" id="btShowCustomFilterWindow" value="Show Custom Filter" class="btn btn-sm btn-success" />
</div>
@Html.Action("GridViewPartial")
