@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Hovis Ltd<br />
    The Lord Rank Centre, Lincoln Road<br />
    Cressex Business Park, High Wycombe<br />
    Buckinghamshire, HP12 3QS<br />
    <abbr title="Phone">P:</abbr>
    01494 428000
</address>

<address>
    <strong>Support:</strong>   <a href="">0203 069 5693</a><br />
</address>