@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hovis Milling Portal</h1>
    <p class="lead">This application hosts various milling small apps</p>
    @*<p><img src="~/Content/img/QuestionMarks.jpg" class="img-responsive" alt="user" title="user" style="height:390px"></p>*@
    <p><img src="~/Content/img/NEW RH Logo.jpg" class="img-responsive" alt="user" title="user" style="height:390px"></p>
    <marquee>@ViewBag.tickerData</marquee>
</div>